@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;600;700&display=swap');

/* Common CSS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: aquamarine;
    color: brown;
    border: 2px solid brown;
}

/* HEADER STYLES */
header {
    padding: 50px 240px;
    background: rgba(255, 144.05, 13.81, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 25px;

}

nav ul a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}

.header-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* BANNER STYLES */

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-container img {
    width: 100%;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-para {
    margin-bottom: 30px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner-btn{
    margin-bottom: 50px;
}




/* MEDIA QUERY */

/* SMALL DEVICE */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-bottom: 20px;
    }

    header {
        padding: 15px;
    }

    nav ul li a {
        font-weight: bolder;
    }

}

/* MEDIUM DEVICE */

@media screen and (min-width: 576px) and (max-width: 992px) {

    header{
        padding: 15px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    nav ul li a {
        font-weight: bolder;
    }

    .header-title {
        margin-bottom: 20px;
    }
}